:root{
    --base-white-color : white;
    --silver-color : #d0d6f9;
    --mobile-menu-bg : #0b0d17;
    --text-color: #D0D6F9;
    --heading-1-2-3-4 : 'Bellefair', serif;
    --subheading-2-5-navigation : 'Barlow Condensed', sans-serif;

    --mobile-width: 375px;
    --desktop-width : 1440px;
}
